<h1><center></center></h1>

<%= semantic_form_for(:session, :url => sessions_path) do |f| %>
<%= f.inputs do %>
	<%= f.input :email %>
	<%= f.input :password %>
<% end %>
	<%= f.buttons do %>
	  <%= f.commit_button :label => "Sign In", :button_html => { :class => "submit" } %>
	<% end %>
<% end %>

<p>Haven't RSVP'd yet? <%= link_to "RSVP Here!", signup_path %></p>
