<center><h1>Edit Profile</h1></center>

<%= semantic_form_for(@user) do |f| %>
<%= f.inputs do %>
	<%= f.input :name %>
	<%= f.input :email %>
	<%= f.input :password, :label => "Change Password"  %>
	<%= f.input :password_confirmation, :label => "Re-enter Password"  %></br>
	<%= f.input :rsvp,  :as => :radio, :label => "Are you coming?", :wrapper_html => { :class => "rsvp" }%>
	<%= f.input :number_of_guests, :label => "Number of Guests?" %>
<% end %>
	<%= f.buttons do %>
	  <%= f.commit_button :label => "Update", :button_html => { :class => "update" } %>
	<% end %>
<% end %>

<div>
    <% if @user.fbid? %>
	  <%= fb_image_tag @user.fbid %>
	<% else %>
      <%= gravatar_for @user %>
    <% end %>
  <a href="http://gravatar.com/emails">change</a>
</div>
