<center><h1>Edit Profile</h1></center>

<%= semantic_form_for(@user) do |f| %>
<%= f.inputs do %>
	<%= f.input :name %>
	<%= f.input :email %>
	<%= f.input :password, :label => "Change Password"  %>
	<%= f.input :password_confirmation, :label => "Re-enter Password"  %></br>
	<%= f.input :rsvp,  :as => :radio, :label => "Are you coming?", :wrapper_html => { :class => "rsvp" }%>
<% end %>
	<%= f.buttons %>
<% end %>

<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">change</a>
</div>
