<h1></h1>

<%= semantic_form_for(@user) do |f| %>
<%= f.inputs do %>
	<%= f.input :name %>
	<%= f.input :email %>
	<%= f.input :password, :label => "Create Password"  %>
	<%= f.input :password_confirmation, :label => "Re-enter Password"  %></br>
	<%= f.input :rsvp,  :as => :radio, :label => "Are you coming?", :wrapper_html => { :class => "rsvp" }%>
	<%= f.hidden_field :fbid,  :value => params[:fb_id] %>
<% end %>
	<%= f.buttons %>
<% end %>
