<h1></h1>

<%= semantic_form_for(@user) do |f| %>
<%= f.inputs do %>
	<%= f.input :name, :input_html => { :value => params[:fb_name] } %>
	<%= f.input :email, :input_html => { :value => params[:fb_email] } %>
	<%= f.input :password, :label => "Create Password"  %>
	<%= f.input :password_confirmation, :label => "Re-enter Password"  %></br>
	<%= f.input :rsvp,  :as => :radio, :label => "Are you coming?", :wrapper_html => { :class => "rsvp" }%>
	<%= f.input :number_of_guests, :label => "Number of Guests?" %>
	<%= f.hidden_field :fbid,  :value => params[:fb_id] %>
<% end %>
	<%= f.buttons do %>
	  <%= f.commit_button :label => "RSVP", :button_html => { :class => "post" } %>
	<% end %>
<% end %>
