<div id="content">
<center><h1>The Wedding</h1></center>

<section id="the-wedding">
  <div id="ceremony">
    <div class="description">
      <h2>Ceremony</h2>
      <p>Scottie and TJ will be married on October 19, 2013 on the Dockside at Piedmont Park. The Dockside is located behind the Piedmont Park Conservancy Community Center near the 12th Street gate park entrance to the park. The ceremony will start at 5:30 pm (tentative).</p>
      <p>The walk from the parking deck, the nearest Marta stations, and Brian Culler's condo are all approximately 15 minutes. So don't forget to incorporate some walking time into your travel plan.</p>
    </div>
    <div class="details">
      <h4>Piedmont Park Dock</h4>
      <p>1320 Monroe Dr., NE<br>
        Atlanta, Georgia</p>
      <h4>October 19, 2013</h4>
      <p>5:30 in the afternoon</p>
    </div>
    <%= image_tag 'DS_dock_lawn_ceremony.jpg', :class => 'polaroid church' %>
  </div>
  <div class="clear"></div>

  <div id="eventmap"></div>

  <div id="reception">
    <div class="description">
      <h2>Reception</h2>
      <p>The reception will be held at Magnolia Hall in Piedmont Park.  The reception begins at 6:30 in the evening with a cocktail hour and photos, followed by dinner, dancing with DJ Bang, and of course cake!</p>
      <p>Nestled in the heart of Atlanta in historic Piedmont Park, Magnolia Hall is easy to find and is a 10 - 15 minute walk through the park from the Wedding location.  A shuttle will also be available to take you to the reception.</p>
    </div>
    <div class="details">
      <h4>Magnolia Hall</h4>
      <p>400 Park Drive<br>
        Atlanta, Georgia</p>
      <h4>October 19, 2013</h4>
      <p>6:30 in the afternoon</p>
    </div>
    <%= image_tag 'MH_outside.jpg', :class => 'polaroid house' %>
    <%= image_tag 'MH_inside.jpg', :class => 'polaroid backyard' %>
  </div>
</section>

<hr>

<section id="the-party">
  <h2>The Party</h2>
  <div class="two-column">
	<div>
      <h3 class="groomsmen">The Groomsmen</h3>
      <div class="groomsman">
        <%= fb_image_tag '12819565' %>
        <b>Rajeev Sibal</b>
        Best Man
      </div>
      <div class="groomsman">
        <%= fb_image_tag '12817939' %>
        <b>Kevin Camp</b>
        Friend from Georgia Tech
      </div>
      <div class="groomsman">
        <%= fb_image_tag '12802814' %>
        <b>Cabe Duncan</b>
        Friend from Georgia Tech
      </div>
      <div class="groomsman">
        <%= fb_image_tag '12800529' %>
        <b>Ross Gortney</b>
        Friend from Georgia Tech
      </div>
      <div class="groomsman">
        <%= fb_image_tag '100001301072490' %>
        <b>John Edenfield</b>
        Friend from Georgia Tech* 
      </div>
      <div class="groomsman">
        <%= fb_image_tag '12807247' %>
        <b>Brian Culler</b>
        Friend from Vitrue
      </div>
    </div>
    <div>
      <h3 class="bridesmaids">The Bridesmaids</h3>
      <div class="bridesmaid">
        <%= fb_image_tag '1062805295' %>
        <b>Katie Frassinelli</b>
        Maid of Honor
      </div>
      <div class="bridesmaid">
        <%= fb_image_tag '6502915' %>
        <b>Laura Lee Fleming</b>
        Maid of Honor
      </div>
      <div class="bridesmaid">
        <%= fb_image_tag '41105930' %>
        <b>Amber Weaver</b>
        Friend from High School
      </div>
      <div class="bridesmaid">
        <%= fb_image_tag '12819858' %>
        <b>Ashley Cook</b>
        Friend from Georgia Tech
      </div>
      <div class="bridesmaid">
        <%= fb_image_tag '700874' %>
        <b>Alex Coso</b>
        Friend from Georgia Tech
      </div>
    </div>
  </div>
 </section>

<hr>

<section id="the-trip">
  <h2>Getting There</h2>

  <p class="getting-there">Piedmont Park is located in the heart of Midtown Atlanta.  For those choosing to use public transit (God bless you), there are two stations within walking distance, Arts Center Station and Midtown Station.</p>
  <p class="getting-there-indented">&bull;Exit the Midtown Station, take 10th Street towards Peachtree Street and continue on 10th until you reach Piedmont Avenue. Turn left on Piedmont Avenue and walk two blocks to the 12th and 14th Street gates of Piedmont Park.</p>
  <p class="getting-there-indented">&bull;Exit the Arts Center Station heading south on West Peachtree street for one block. Head east (go left) on 14th Street for three blocks until you reach the 14th Street entrance to the Park.</p>
  <p class="getting-there"></p>
  <p class="getting-there">If you choose to drive, then the Botanical Gardens Parking Deck is in close proximity to both the ceremony and reception.</p>
  <a href="http://g.co/maps/dsst7"
     class="map"><%= image_tag 'Map.jpg', :class => 'polaroid map' %></a>

  <h2>Where to Stay</h2>
  <p>This is a placeholder for when we figure this out. Everything that follows is 100% a joke. If you book any of these, I feel sorry for you.</p>

  <div class="three-column">
    <div class="hotel">
      <a href="http://clermontlounge.net/"
         class="img" target="_blank"><%= image_tag 'clermont.jpg', :class => 'polaroid omni' %></a>
      <div class="meta">
        <h4>Clermont Lounge</h4>
        789 Ponce De Leon Ave<br>
        Atlanta, Georgia<br>
        404-874-4783<br>
        $12 / hour &nbsp;|&nbsp;
        <a href="http://clermontlounge.net/" target="_blank">link</a>
      </div>
      <p class="details">Located in the basement of the Clermont Motor Hotel on Ponce De Leon, the 
	Clermont offers great entertainment, generous drinks and much, much more.</p>
      <p><b>Reservations:</b><br>
        Call the hotel and ask for Blondi.</p>
    </div>

    <div class="hotel">
      <a href="http://www.buckheadbottlebar.com/" target="_blank"
         class="img"><%= image_tag 'bottlebar.jpg', :class => 'polaroid hiltongardeninn' %></a>
      <div class="meta">
        <h4>Buckhead Bottle Bar</h4>
       269 East Paces Ferry Rd.<br>
        Atlanta, Georgia<br>
        404-474-9892<br>
        75% of your dignity / night &nbsp;|&nbsp;
        <a href="http://www.buckheadbottlebar.com/" target="_blank">link</a>
      </div>
      <p class="details">There is a Lamborghini in the damn picture on their website...If you like talking about SEC football and Nickleback with your "crew" then welcome home.</p>
      <p><b>Reservations:</b><br>
        Book online at our <a href="http://www.buckheadbottlebar.com/">event page</a>, or call and mention Ashton Kutchar.</p>
    </div>

    <div class="hotel">
      <a href="http://www.theporterbeerbar.com/" class="img" target="_blank"><%= image_tag 'porter.jpg', :class => 'polaroid wmarriott' %></a>
      <div class="meta">
        <h4>The Porter Beer Bar</h4>
        1156 Euclid Avenue<br>
        Atlanta, Georgia<br>
        404-223-0393<br>
        $6/ piece of deliciousness &nbsp;|&nbsp;
        <a href="http://www.theporterbeerbar.com/" target="_blank">link</a>
      </div>
      <p class="details">Mmmm...porter, but watch out for the hipsters and homeless people...they're sneaky.</p>
      <p><b>Reservations:</b><br>
       Find the booth that TJ is already in.</p>
    </div>

  </div>


</section>
</div>



