<div id="content">
<center><h1>The Wedding</h1></center>

<section id="the-wedding">
  <div id="ceremony">
    <div class="description">
      <h2>Ceremony</h2>
      <p>Scottie and TJ will be married on October 19, 2013 on the Dockside at Piedmont Park. The Dockside is located behind the Piedmont Park Conservancy Community Center near the 12th Street gate park entrance to the park. The ceremony will start at 5:30 pm.</p>
      <p>The walk from the parking deck, the nearest Marta stations, the recommended hotels (below) and Brian Culler's condo are all approximately 15 - 20 minutes. So don't forget to incorporate some walking time into your travel plan.</p>
	  <p>*In the event of rain, the ceremony will be held in the reception location (Magnolia Hall).</p>
    </div>
    <div class="details">
      <h4>Piedmont Park Dock</h4>
      <p>1320 Monroe Dr., NE<br>
        Atlanta, Georgia</p>
      <h4>October 19, 2013</h4>
      <p>5:30 in the afternoon</p>
    </div>
    <%= image_tag 'DS_dock_lawn_ceremony.jpg', :class => 'polaroid church' %>
  </div>
  <div class="clear"></div>

  <div id="eventmap"></div>

  <div id="reception">
    <div class="description">
      <h2>Reception</h2>
      <p>The reception will be held at Magnolia Hall in Piedmont Park.  The reception begins at 6:30 in the evening with a cocktail hour and photos, followed by dinner, dancing with DJ Bang, and of course cake!</p>
      <p>Nestled in the heart of Atlanta in historic Piedmont Park, Magnolia Hall is easy to find and is a 10 - 15 minute walk through the park from the ceremony location.  A shuttle will also be available to take you to the reception.</p>
    </div>
    <div class="details">
      <h4>Magnolia Hall</h4>
      <p>400 Park Drive<br>
        Atlanta, Georgia</p>
      <h4>October 19, 2013</h4>
      <p>6:30 in the afternoon</p>
    </div>
    <%= image_tag 'MH_outside.jpg', :class => 'polaroid house' %>
    <%= image_tag 'MH_inside.jpg', :class => 'polaroid backyard' %>
  </div>
</section>

<hr>

<section id="the-party">
  <h2>The Party</h2>
  <div class="two-column">
	<div>
      <h3 class="groomsmen">The Groomsmen</h3>
      <div class="groomsman">
        <%= fb_image_tag '12819565' %>
        <b>Rajeev Sibal</b>
        Best Man
      </div>
      <div class="groomsman">
        <%= fb_image_tag '12817939' %>
        <b>Kevin Camp</b>
        Friend from Georgia Tech
      </div>
      <div class="groomsman">
        <%= fb_image_tag '12802814' %>
        <b>Cabe Duncan</b>
        Friend from Georgia Tech
      </div>
      <div class="groomsman">
        <%= fb_image_tag '12800529' %>
        <b>Ross Gortney</b>
        Friend from Georgia Tech
      </div>
      <div class="groomsman">
        <%= fb_image_tag '100001301072490' %>
        <b>John Edenfield</b>
        Friend from Georgia Tech 
      </div>
      <div class="groomsman">
        <%= fb_image_tag '12807247' %>
        <b>Brian Culler</b>
        Friend from Vitrue
      </div>
    </div>
    <div>
      <h3 class="bridesmaids">The Bridesmaids</h3>
      <div class="bridesmaid">
        <%= fb_image_tag '1062805295' %>
        <b>Katie Frassinelli</b>
        Matron of Honor
      </div>
      <div class="bridesmaid">
        <%= fb_image_tag '6502915' %>
        <b>Laura Lee Wren</b>
        Matron of Honor
      </div>
      <div class="bridesmaid">
        <%= fb_image_tag '41105930' %>
        <b>Amber Smith</b>
        Friend from High School
      </div>
      <div class="bridesmaid">
        <%= fb_image_tag '12819858' %>
        <b>Ashley Cook</b>
        Friend from Georgia Tech
      </div>
      <div class="bridesmaid">
        <%= fb_image_tag '700874' %>
        <b>Alex Coso</b>
        Friend from Georgia Tech
      </div>
    </div>
  </div>
 </section>

<hr>

<section id="the-trip">
  <h2>Getting There</h2>

  <p class="getting-there">Piedmont Park is located in the heart of Midtown Atlanta.  For those choosing to use public transit (God bless you), there are two stations within walking distance, <b>Arts Center Station</b> and <b>Midtown Station</b>.</p>
  <p class="getting-there-indented">&bull;Exit the <b>Midtown Station</b>, take 10th Street towards Peachtree Street and continue on 10th until you reach Piedmont Avenue. Turn left on Piedmont Avenue and walk two blocks to the 12th and 14th Street gates of Piedmont Park.</p>
  <p class="getting-there-indented">&bull;Exit the <b>Arts Center Station</b> heading south on West Peachtree street for one block. Head east (go left) on 14th Street for three blocks until you reach the 14th Street entrance to the Park.</p>
  <p class="getting-there"></p>
  <p class="getting-there">If you choose to drive, then the <b>Botanical Gardens Parking Deck</b> is in close proximity to both the ceremony and reception.</p>
  <a href="http://g.co/maps/dsst7"
     class="map"><%= image_tag 'Map.jpg', :class => 'polaroid map' %></a>

  <h2>Where to Stay</h2>
  <p>The hotels listed below are within walking distance of the park and centrally located for much of what Atlanta has to offer (a lot!).</p>
  <h4>*Special hotel rates for the wedding are only offered through August 31.</h4>

  <div class="three-column">
    <div class="hotel">
      <a href="http://www.fourseasons.com/atlanta/"
         class="img" target="_blank"><%= image_tag 'four_seasons.jpeg', :class => 'polaroid omni' %></a>
      <div class="meta">
        <h4>Four Seasons Hotel Atlanta</h4>
        75 Fourteenth Street NE<br>
        Atlanta, Georgia<br>
        404-881-9898<br>
        $185 / night &nbsp;|&nbsp;
        <a href="http://www.fourseasons.com/atlanta/" target="_blank">link</a>
      </div>
      <p class="details">Situated in the heart of Atlanta's Midtown district, Four Seasons Hotel Atlanta's 244 ultra-spacious luxury hotel rooms and suites boast commanding views of the city skyline.</p>
      <p><b>Reservations:</b><br>
        Call the hotel (404-881-9898) and ask for the Fleming/Lindsley wedding block.</p>
    </div>

    <div class="hotel">
      <a href="http://www.marriott.com/hotels/travel/atlri-residence-inn-atlanta-midtown-17th-street/" target="_blank"
         class="img"><%= image_tag 'residence_inn.jpg', :class => 'polaroid hiltongardeninn' %></a>
      <div class="meta">
        <h4>Residence Inn Atlanta Midtown/17th St.</h4>
       1365 Peachtree Street NE<br>
        Atlanta, Georgia<br>
        404-745-1000<br>
        $107 (Single) or $124 (Double) &nbsp;|&nbsp;
        <a href="http://www.marriott.com/hotels/travel/atlri-residence-inn-atlanta-midtown-17th-street/" target="_blank">link</a>
      </div>
      <p class="details">Perfect for short or extended stays in Atlanta, GA, suites include a full kitchen, flat screen TVs, and a modern decor. The High Museum of Art, Alliance Theatre, Piedmont Park, Fox Theatre are all steps away.</p>
      <p><b>Reservations:</b><br>
        Book online <a href="http://www.marriott.com/hotels/travel/atlri-residence-inn-atlanta-midtown-17th-street/">here</a>, or call 404-745-1000 (ask for the Fleming/Lindsley wedding block).</p>
    </div>

    <div class="hotel">
      <a href="http://www.watlantamidtown.com/" class="img" target="_blank"><%= image_tag 'W.jpg', :class => 'polaroid wmarriott' %></a>
      <div class="meta">
        <h4>W Atlanta - Midtown</h4>
        188 14th Street, NE<br>
        Atlanta, Georgia<br>
        404-892-6000<br>
        Check the website for room rates &nbsp;|&nbsp;
        <a href="http://www.watlantamidtown.com/" target="_blank">link</a>
      </div>
      <p class="details">Located in the heart of Midtown Atlanta, the W is perfectly located to take in a show at the nearby fabulous Fox Theatre, or promenade around picturesque Piedmont Park.</p>
      <p><b>Reservations:</b><br>
       Book online <a href="http://www.watlantamidtown.com/">here</a>. We have not reserved a wedding block at this hotel.</p>
    </div>

  </div>


  <h2>Where We're Registered</h2>
  <p>Click on the pictures below to take you to the corresponding site.</p>

  <div class="three-column">
    <div class="hotel">
      <a href="http://www.bedbathandbeyond.com/regGiftRegistry.asp?wrn=-683509954&"
         class="img" target="_blank"><%= image_tag 'bedbathandbeyond_logo.jpg', :class => 'polaroid omni' %></a>
    </div>

    <div class="hotel">
      <a href="http://www1.macys.com/registry/wedding/guest/?registryId=2051103" class="img" target="_blank"><%= image_tag 'macys_inc_logo.jpg', :class => 'polaroid omni' %></a>
    </div>

  <div class="three-column">
    <div class="hotel">
      <a href="http://www.amazon.com/registry/wedding/1MVNVA0UR41NO"
         class="img" target="_blank"><%= image_tag 'Amazon-Logo.png', :class => 'polaroid omni' %></a>
    </div>

  </div>

</section>
</div> 

