<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">Post now or forever hold your peace!</h1>
        <%= render 'shared/micropost_form' %>
		<%= render 'shared/feed' %>
      </td>
      <!--td class="sidebar round">
        <%= render 'shared/user_info' %>
		<%= render 'shared/stats' %>
      </td-->
    </tr>
  </table>
<% else %>
<h1><center>Scottie & TJ are Getting Hitched!</center></h1> 
<!--%= image_tag("WeadingHeader2.png", :alt => "Sample App", :class => "logo round",) %-->

<%= link_to "", signup_path, :class => "signup_button round" %>

<%= image_tag("SWT.png", :alt => "Broke Ass Image", :class => "center round") %>
<!--p><center>
Yep, I tricked her into marrying me. It all goes down on October 19, 2013 in Piedmont Park.
</center></p-->
<% end %>

 