<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">Post now or forever hold your peace!</h1>
        <%= render 'shared/micropost_form' %>
		<%= render 'shared/feed' %>
      </td>
      <!--td class="sidebar round">
        <%= render 'shared/user_info' %>
		<%= render 'shared/stats' %>
      </td-->
    </tr>
  </table>
<% else %>
<div id="content">
<h1><center>Scottie & TJ are Getting Hitched!</center></h1> 

<table border="0">
 <% if @likes %>
 <% for like in @likes %>
 <tr>
 <td><b><%=h like["name"]%> </b></td>
 </tr>
 <tr>
 <td><%=h like["category"] %></td>
 </tr>
 <tr>
 <td>&ndash;</td>
 </tr>
 <% end %>
 <% end %>
</table>

<%= link_to "", "#", :class => "signup_button round", :onclick => "fbLogin()" %>

<%= image_tag("thin_peach_2.png", :alt => "Missing tape", :class => "tape")%>
<%= image_tag("SWT.png", :alt => "Broke Ass Image", :class => "polaroid center") %>
<%= image_tag("thin_peach_2.png", :alt => "Missing tape", :class => "tape2")%>
<br><br><p><center>
Yep, I tricked her into marrying me. It all goes down on October 19, 2013 in Piedmont Park.
</center></p>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= Facebook::APP_ID %>',
      status     : true, 
      cookie     : true,
      xfbml      : true,
	  oauth 	 : true
    });
  };
  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));

  function fbLogin() {
       FB.login(function(response) { 
       if (response.authResponse) { 
       // user is logged in 
		FB.api('/me', function(response) {
       		window.location.href = '/signup?fb_id=' + response.id + '&fb_name=' + response.name + '&fb_email=' + response.email
		});
       } else { 
       // user cancelled login 
       location.href = '/signup' 
       } 
      });
  }
</script>
</div>
<% end %>

 