<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">Post now or forever hold your peace!</h1>
        <%= render 'shared/micropost_form' %>
		<%= render 'shared/feed' %>
      </td>
      <!--td class="sidebar round">
        <%= render 'shared/user_info' %>
		<%= render 'shared/stats' %>
      </td-->
    </tr>
  </table>
<% else %>
<div id="content">
<h1><center>Scottie & TJ are Getting Hitched!</center></h1> 

<%= link_to "", signup_path, :class => "signup_button round" %>

<%= image_tag("thin_peach_2.png", :alt => "Missing tape", :class => "tape")%>
<%= image_tag("SWT.png", :alt => "Broke Ass Image", :class => "polaroid center") %>
<%= image_tag("thin_peach_2.png", :alt => "Missing tape", :class => "tape2")%>
<!--p><center>
Yep, I tricked her into marrying me. It all goes down on October 19, 2013 in Piedmont Park.
</center></p-->
</div>
<% end %>

 